html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}
#wrapper {
  width: 100%;
  height: 100%;
}

#sidebar {
  width: 25%;
  float: left;
  height: 100%;
}
#addBus {
	width: 100%;
}
#addBtn {
	width: 100%;
}

#busList {
	width: 100%;
	margin-top: 40px;
}

#busList > span {
	width: 100%;
}
#main-content {
  width: 75%;
  height: 100%;
  float: left;
}

#map {
	width: 100%;
	height: 100%;
	position: relative;
}